@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Global */
/* ------------------------------------------------------------------------------------------------------- */

html {
  background: url(back-light.jpg);
  background: url("https://www.creapiks.net/3Fan/back-light.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}

main {
  background-color: rgb(10, 10, 10, 0.6);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 44px;
  border-radius: 60px;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #f8f8f8;
}

input,
button {
  background-color: rgb(227, 64, 105, 0);
  box-shadow: 0px;
  -webkit-box-shadow: 0px 0px 0em #e34069;
  border: none;
  outline: none;
  box-shadow: none;
  border: 0px solid #0a0a0a;
}

button {
  cursor: pointer;
}

.lecturebox {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.lecture {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #e34069;
  border-radius: 50%;
  padding: 20px;
  height: 140px;
  width: 140px;
  animation: zoom-in-zoom-out 1s ease infinite;
  line-height: 1.2;
  margin-bottom: 20px;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.animation {
  animation-fill-mode: forwards;
  animation: fade-in 0.6s ease-in forwards, fade-out 0.6s 0.6s ease-out forwards;
  background-color: #e34069;
  padding: 8px;
  border-radius: 8px;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#volume {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: -40px;
}

#volText {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

#volume i.fa-volume-down,
#volume i.fa-volume-up {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #e34069;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #e34069;
  width: 36px;
  height: 36px;
}

.icolorsound {
  color: #383838;
  border: 1px solid #383838;
}

form {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

form button {
  background-color: #e34069;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px 16px 16px 16px;
  margin-left: 16px;
  height: 54px;
}

input {
  padding: 12px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgb(10, 10, 10, 0.8);
  width: 100%;
  color: #f8f8f8;
  border-radius: 16px 16px 16px 16px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.buttons button {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #e34069;
  padding: 12px;
  border-radius: 16px;
  width: 220px;
  font-size: 20px;
}

button span {
  display: block;
  font-size: 14px;
  margin-top: 6px;
}

#vies {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

#vies h1 i {
  font-size: 28px;
  margin-left: 8px;
  margin-right: 8px;
}

#vies .fa-heart {
  color: #e34069;
}

#vies .fa-heart-broken {
  color: #383838;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.timer span {
  margin-right: 8px;
}

.seconds {
  color: #e34069;
  font-size: 22px;
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
}

#score h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  flex-wrap: wrap;
  color: #e34069;
}

#chansonstrouvees {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

#score span {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 16px;
  margin-bottom: 4px;
}

#suivant,
#newGame,
#jouer {
  margin-left: auto;
  margin-right: auto;
  background-color: #e34069;
  padding: 12px;
  border-radius: 16px;
  width: 280px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

#suivant i {
  font-size: 30px;
}

header {
  margin-bottom: 40px;
}

header h1 {
  font-size: 80px;
  text-align: center;
}

header h1 span {
  font-size: 80px;
  color: #e34069;
}

#titreChanson {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  font-size: 24px;
}

#titreChanson .color {
  color: #e34069;
  margin-left: 12px;
  font-size: 24px;
}

.loose {
  font-size: 60px;
  color: #e34069;
  margin-bottom: 28px;
}

.bonus-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bonus {
  display: none;
}

.fa-skull {
  font-size: 36px;
}
