/* ----------------------------------------------------------------------------------------- */
/* General */

@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap");

html {
  background: url(back-dark.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-color: #2e2e2e;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  line-height: 1;
  font-family: "Sarabun", sans-serif;
  color: #b6b6b6;
  transition: 0.3s ease-in-out;
}

button,
input {
  border-radius: 0px;
  box-shadow: 0px;
  -webkit-box-shadow: 0px 0px 0em #b6b6b6;
  background-color: rgb(53, 57, 82, 0);
  border: none;
  outline: none;
  box-shadow: none;
  border: 0px;
}

form.game {
  display: flex;
  align-items: center;
  justify-content: center;
}

button#mainSubmit {
  display: inline-block;
  background-color: #e34069;
  padding: 12px;
  font-size: 14px;
  margin-left: 12px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

button#mainSubmit:hover {
  transform: scale(1.2);
}

input#mainInput,
input#playerName {
  width: 100%;
  padding: 14px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 14px;
  background-color: #2e2e2e;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.content {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.content #game,
.content #launcher,
.content #ScoreLeaderboard {
  background-color: #171717;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 16px;
  border-radius: 16px;
}

.content #ScoreLeaderboard {
  justify-content: left;
}

#ScoreLeaderboard {
  display: none;
}
.rankedTable,
.rankedTableList {
  display: flex;
  text-align: left;
}

.rankedTable div,
.rankedTableList div {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rankedTable div {
  padding: 12px;
  border: 1px solid #e34069;
  margin-left: 4px;
  margin-right: 4px;
}

.content #game {
  width: 480px;
}

h1#score {
  color: #e34069;
  font-size: 36px;
  font-weight: 600;
}

#songTitle {
  font-weight: 700;
  margin-top: 14px;
  font-size: 18px;
  color: #e34069;
}

#songTitle span {
}

h1#score span {
  display: block;
  font-size: 16px;
  margin-top: 54px;
  text-transform: uppercase;
  font-weight: 700;
}

h2#guessedSongs {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

#timer span {
  display: block;
  font-size: 16px;
  margin-top: 12px;
  text-transform: uppercase;
  margin-top: 24px;
  font-weight: 700;
}

div#game div#timer span#seconds {
  display: block;
  font-size: 20px;
  margin-top: 4px;
  text-transform: uppercase;
  text-transform: none;
  color: #e34069;
  font-weight: 700;
  margin-bottom: 14px;
}

.animatedItem {
  margin-bottom: 34px;
  cursor: pointer;
}

#animatedItemContainer {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
}

#animatedItem,
.animatedItem {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #e34069;
  color: #eeb5c3;
  border-radius: 50%;
  padding: 20px;
  height: 140px;
  width: 140px;
  animation: zoom-in-zoom-out 1s ease infinite;
  line-height: 1.2;
  font-weight: 900;
  z-index: 100;
}

#animatedItem,
.animatedItem {
  font-size: 18px;
}

#animatedItem i {
  font-size: 48px;
  color: #eeb5c3;
}

#lives {
  font-size: 26px;
}

.looser {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #e34069;
  margin-top: 24px;
  display: block;
}

#lives i {
  margin-left: 4px;
  margin-right: 4px;
}

.fa-heart {
  color: #e34069;
}

.fa-heart-broken {
  color: #eeb5c3;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

#showSolution,
#nextSong,
#listenAgain,
#newGame {
  background-color: #e34069;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  color: #eeb5c3;
  padding: 14px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 800;
  flex-wrap: wrap;
  cursor: pointer;
}

#newGame {
  padding-top: 20px;
  padding-bottom: 20px;
}
#gameOptions button:hover,
#nextSong:hover,
#newGame:hover {
  transform: scale(0.95);
}

#showSolution span,
#nextSong span,
#listenAgain span,
#nextSong i {
  color: #eeb5c3;
}

#nextSong {
  padding-top: 22px;
  padding-bottom: 22px;
}

#nextSong i {
  margin-right: 8px;
  font-size: 20px;
}

#showSolution span,
#listenAgain span {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  margin-top: 2px;
}

#bonusContainer {
  padding: 0px;
  margin: 0px;
  height: 46px;
  margin-top: 12px;
  margin-bottom: 12px;
}

#playerNameInfos {
  text-align: left;
}

#playerNameInfos span {
  opacity: 0.4;
  font-size: 14px;
}

#inputPlayerName button {
  background-color: #e34069;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  color: #eeb5c3;
  padding: 20px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 800;
  flex-wrap: wrap;
  cursor: pointer;
}

#PlayerNameError {
  font-size: 14px;
  margin-top: 8px;
  color: #e34069;
  font-weight: 600;
}

#launcher h1,
#launcher h1 span {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 600;
  color: #e34069;
}

#launcher h2 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 36px;
  font-weight: 600;
  margin-top: 4px;
}

#nameLauncher {
  font-weight: 800;
  color: #e34069;
  font-size: 36px;
}

#playerNameSubmitImpossible {
  cursor: not-allowed;
}

#playerNameSubmit {
  cursor: pointer;
}

.playerNameContainer {
  width: 146px;
  white-space: nowrap;
  overflow: hidden;
}

span#playerNameContainer {
  font-weight: 700;
  font-size: 18px;
  text-overflow: ellipsis;
  opacity: 1;
}

#bonus {
}

#gameHeader {
  width: 100%;
  background-color: #2e2e2e;
  padding: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#volumeSettings {
  border-left: 2px solid #171717;
  padding-left: 6px;
}
#volumeSettings i {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171717;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
}

#volumeSettings i:active,
#volumeSetting i:hover {
  background-color: #e34069;
  transform: scale(1.1);
}

.animatedBonus {
  animation-fill-mode: forwards;
  animation: fade-in 0.6s ease-in forwards, fade-out 0.6s 0.6s ease-out forwards;
  background-color: #e34069;
  padding: 14px;
  border-radius: 14px;
  color: #eeb5c3;
  display: inline-block;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

canvas {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  top: 50%;
  margin-top: -160px;
  width: 500px;
  height: 500px;
  padding: 20px;
  z-index: 1;
}

.content #launcher {
  position: absolute;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  top: 50%;
}

.content #game {
  width: 480px;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .content #game {
    width: 320px;
  }
}
